<html>
<head>
    <center> *****  Affichage des Marques  ***** </center><br><br><br><br>
</head>
<body>
<center>
    <table border="2">
        <tr>
            <th> Nom Du Marque </th>
        </tr>
        {% for m in marque  %}
            <tr>
                <td>
                    {{ m.nomMarque }}
                </td>
                <td>
                    <a href="{{ path('deletem', { 'id': m.id }) }}"> Remove </a>
                </td>
                <td>
                    <a href="{{ path('updatem', { 'id': m.id }) }}"> Update </a>
                </td>
        {% endfor %}
    </table>
</center>
</body>
</html>