<center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Update Panier </h1>
    {{ form_start(form) }}
    <table>
        <tr><td>prixTotal</td><td>{{ form_widget(form.prixTotal) }}</td></tr>
        <tr><td>nbArticles</td><td>{{ form_widget(form.nbArticles) }}</td></tr>
    </table>
    {{ form_end(form) }}

</center>