<!DOCTYPE html>
<html lang="en">
<head>

{{ include('dashboard/head.html.twig') }}


</head>
<body>
<!-- container section start -->
<section id="container" class="">



        {{ include('dashboard/header.html.twig') }}



        {{ include('dashboard/sidebar.html.twig') }}
    </aside>
    <!--sidebar end-->

{% block content %}

    {% endblock %}

{{ include('dashboard/footer.html.twig') }}
        </section>
</body>

</html>
